@model IEnumerable<TipoUsuarioModel>
@{
    ViewData["Title"] = "Lista de Tipos de Usu치rio";
}
<div class="tabela">
<h1>Lista de tipos de usu치rio</h1>

<div class="form-group mb-4 mt-3" id="divMensagem" >
    <span class="@ViewBag.classe" id="spanMensagem">@ViewBag.mensagem</span>
</div>
<script>

function confirmarExclusao(id) {
   if (confirm("Tem certeza que deseja excluir esse Tipo de usu치rio?")) {

       location.href ="/TipoUsuario/excluir/" + id;

   }
}
</script>
<div class="form-group mb-4 mt-3">
    <a href="~/TipoUsuario/cadastro" class="btnlink">Novo Tipo de usu치rio</a>
</div>
<table class="table table-dark table-striped" >
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.IdTipousuario)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Descricao)</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.IdTipousuario</th>
                <td>@item.Descricao</td>
                <td>
                    <a href="~/TipoUsuario/prealterar/@item.IdTipousuario" class="btnlink">Alterar</a>
                </td>
                <td>
                    <a href="#" class="btnlink" onclick="confirmarExclusao(@item.IdTipousuario)">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

