@model IEnumerable<FilmeModel>
@{
    ViewData["Title"] = "listar";
}

<h1>Lista de Filmes</h1>

<span class="alert @ViewBag.classe">@ViewBag.mensagem</span>

<script>

function confirmExclusao(id) {
   if (confirm("Tem certeza que deseja excluir esse Filme?")) {

       location.href ="/Filme/excluir/" + id;

   }
}
</script>

<a href="~/Filme/cadastro" class="btnlink">Novo Filme</a>


<table class="table table-dark lista">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.IdFilme)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Nome)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Imagem)</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.IdFilme</th>
                <td>@item.Nome</td>
                <td><img src="~/Imagens/@item.Imagem" class="rounded-circle" height="40" width="40" asp-append version="true" />
                </td>
                <td>
                    <a href="~/Filme/prealterar/@item.IdFilme" class="btnlink">Alterar</a>
                </td>
                <td>
                    <a href="#" class="btnlink" onclick="confirmExclusao(@item.IdFilme)">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>


