@model IEnumerable<Cine.Models.TipoIngressoModel>
@{
    ViewData["Title"] = "listar";
}

<div class="tabela">
    <a class="btnlink" asp-controller="TipoIngresso" asp-action="Index">Novo</a>
    <br/>
    <br/>
    <h1>Lista de Tipos de Ingresso</h1>
    <table class="table table-dark lista">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.IdTipoIngresso)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Nome)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Descricao)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Preco)</th>
                <th scope="col">Alterar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.IdTipoIngresso</th>
                    <td>@item.Nome</td>
                    <td>@item.Descricao</td>
                    <td>@item.Preco</td>
                    <td><a asp-controller="TipoIngresso" asp-action="Index" asp-route-id="@item.IdTipoIngresso">Alterar</a></td>
                    <td><a asp-controller="TipoIngresso" asp-action="Excluir" asp-route-id="@item.IdTipoIngresso">Excluir</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>