@model IEnumerable<Cine.Models.UsuarioModel>
@{
    ViewData["Title"] = "listar";
}

<div class="tabela">
<h1>Lista de Usuarios</h1>
<table class="table table-dark lista" style="width: 1000px">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.IdUsuario)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
            <th scope="col">Tipo de Usuário</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.IdUsuario</th>
                <td>@item.Email</td>
                <td>@item.IdTipousuario</td>
                <td>
                    <a href="~/Usuario/prealterar/@item.IdUsuario" class="btnlink">Alterar</a>
                </td>
                <td>
                    <a href="#" class="btnlink" onclick="confirmarExclusao(@item.IdUsuario)">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>