@model IEnumerable<Cine.Models.SalaModel>
@{
    ViewData["Title"] = "listar";
}

<div class="tabela">
    <a class="btnlink" asp-controller="Sala" asp-action="Index">Novo</a>
    <br/>
    <br/>
    <h1>Lista de Salas</h1>
    <table class="table table-dark lista">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.IdSala)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Nome)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.TotalAssento)</th>
                <th scope="col">Cinema</th>
                <th scope="col">Filme</th>
                <th scope="col">Alterar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.IdSala</th>
                    <td>@item.Nome</td>
                    <td>@item.TotalAssento</td>
                    <td>@item.IdCinema</td>
                    <td>@item.IdFilme</td>
                    <td><a asp-controller="Sala" asp-action="Index" asp-route-id="@item.IdSala">Alterar</a></td>
                    <td><a asp-controller="Sala" asp-action="Excluir" asp-route-id="@item.IdSala">Excluir</a></td>

                </tr>
            }
        </tbody>
    </table>
</div>